src/main/mule/papi-firma-digital.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <os:object-store name="PDF_Store" doc:name="Almacén de PDFs Firmados" doc:id="ae2f2b72-b9a1-42a5-af65-99dc92c2ce1c" entryTtl="30" entryTtlUnit="DAYS" maxEntries="-1"/>

    <flow name="procesarFirmaFlow">
        <http:listener path="/firma" config-ref="HTTP_Listener_PAPI_config" doc:name="Recibir Solicitud de Firma" allowedMethods="POST"/>
        <ee:transform doc:name="Preparar Datos Multipart para Firma" doc:id="5bb8e12e-c54c-4bfc-8f40-6b2f0e5ed033">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output multipart/form-data
---
{
    parts: {
        "documento": payload.parts.documento,
        "email": payload.parts.email,
        "nombre": payload.parts.nombre,
        "apellido": payload.parts.apellido,
        "telefono": payload.parts.telefono,
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <http:request method="POST" doc:name="Enviar Solicitud a Servicio de Firma" doc:id="a08e8aae-838c-4ca2-84bb-efdf42a7a583" config-ref="HTTP_Request_SI_config" path="/firma">
            <http:headers><![CDATA[#[output application/java
---
{
    "Accept" : "application/json",
    "Content-Type" : "multipart/form-data"
}]]]></http:headers>
        </http:request>

        <ee:transform doc:name="Formatear Respuesta de Firma" doc:id="fff8bb2b-9139-439d-bdae-e1404624540b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "SUCCESS",
    message: "Documento enviado a firma",
    data: {
        signature_id: payload.id,
        document_id: payload.documents[0].id,
        estado: payload.documents[0].status
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger level="INFO" doc:name="Log Respuesta del Servicio de Firma" doc:id="54a21b86-c8d8-44b6-8f6a-4acc94011d11" message='#["Respuesta SAPI: " ++ write(payload, "application/json")]'/>
    </flow>

    <flow name="consultar-estado" doc:id="e24241c2-bb96-4144-ac60-333464968b32">
        <http:listener doc:name="Recibir Consulta de Estado" doc:id="f30f8c4a-5ffd-4e9b-9306-b2c2f32e2c53" config-ref="HTTP_Listener_PAPI_config" path="/estado/{signatureId}" allowedMethods="GET"/>
        <http:request method="GET" doc:name="Consultar Estado en Servicio de Firma" doc:id="c8042f66-0d95-4eb4-9ce1-79eaf2acb345" config-ref="HTTP_Request_SI_config" path="/api/signatures/{signatureId}/status">
            <http:headers><![CDATA[#[output application/java
---
{
    "Authorization" : "Bearer ${signaturit.token}",
    "Accept" : "application/json"
}]]]></http:headers>
            <http:uri-params><![CDATA[#[output application/java
---
{
    "signatureId" : attributes.uriParams.signatureId
}]]]></http:uri-params>
        </http:request>

        <logger level="INFO" doc:name="Log Respuesta Estado Raw" doc:id="ea32a946-e9c2-4133-b754-1b5543300c51" message="#[payload]"/>

        <ee:transform doc:name="Formatear Respuesta de Estado" doc:id="42933654-e4a8-4f74-bc55-491c4e5cdb13">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "timestamp": now(),
    "status": payload.status,
    "data": {
        "firma": {
            "id": payload.data.signature_id,
            "estado": payload.data.documento.estado,
            "documento": {
                "id": payload.data.documento.id,
                "estado": payload.data.documento.estado
            }
        },
        "metadata": {
            "consultadoEn": now()
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger level="INFO" doc:name="Log Payload Transformado" doc:id="b8ee99a0-52a4-4005-827f-5082de2f3bf8" message='#["Payload transformado: " ++ write(payload, "application/json", {"indent": false})]'/>
        <logger level="INFO" doc:name="Log ID de Firma Consultada" doc:id="0b587391-f9de-436d-9d6f-12593e8fe6ef" message='#["Estado consultado para firma: " ++ (payload.data.firma.id default "")]'/>
    </flow>

    <flow name="obtener-documento-firmado">
        <http:listener config-ref="HTTP_Listener_PAPI_config" doc:name="Recibir Solicitud de Documento" path="/documento/{signatureId}/{documentId}" allowedMethods="GET"/>

        <set-variable value="#[attributes.uriParams.documentId]" doc:name="Almacenar ID de Documento" doc:id="3767dbc4-1c1e-4c0d-8a30-5e78428d0261" variableName="documentId"/>
        <set-variable value="#[attributes.uriParams.signatureId]" doc:name="Almacenar ID de Firma" doc:id="52013d83-26d5-4abf-8b71-0286e1ea59fd" variableName="signatureId"/>

        <http:request method="GET" config-ref="HTTP_Request_SI_config" doc:name="Obtener Documento del Servicio de Firma" path="/documento/{signatureId}/{documentId}" sendCorrelationId="ALWAYS">
            <http:uri-params><![CDATA[#[{
    "documentId": attributes.uriParams.documentId,
    "signatureId": attributes.uriParams.signatureId
}]]]></http:uri-params>
        </http:request>

        <choice doc:name="Validar IDs de Documento y Firma">
            <when expression="#[vars.signatureId != null and vars.documentId != null]">
                <os:store doc:name="Almacenar PDF en Object Store" key="#[vars.documentId]" objectStore="PDF_Store"/>
                <logger level="INFO" doc:name="Log Documento Almacenado" message='#["Documento recibido de SAPI y almacenado en Object Store - SignatureID: " ++ vars.signatureId as String ++ ", DocumentID: " ++ vars.documentId as String]'/>
				<flow-ref doc:name="Procesar y Enviar Documento" doc:id="af93a89e-3022-4c9c-a282-2f7b52de13ca" name="recuperar-y-enviar-documento"/>
            </when>
            <otherwise>
                <logger level="ERROR" doc:name="Log Error de Validación" message='#["Error: signatureId o documentId son nulos. No se puede almacenar el documento."]'/>
                <ee:transform doc:name="Preparar Mensaje de Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "Parámetros de URL faltantes",
    "message": "Los parámetros signatureId y documentId son obligatorios."
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="httpStatus" value="400" doc:name="Establecer Estado HTTP 400"/>
            </otherwise>
        </choice>

        <ee:transform doc:name="Preparar Respuesta Exitosa">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "message": "Documento PDF almacenado correctamente",
    "signatureId": vars.signatureId,
    "documentId": vars.documentId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="Manejar Error General" type="ANY">
                <logger level="ERROR" doc:name="Log Error de Proceso" doc:id="5879c965-05c7-4998-8185-335f9b22ce05" message='#["Error en el flujo obtener-documento-firmado: " ++ error.description]'/>
                <ee:transform doc:name="Preparar Mensaje de Error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "Error al procesar la solicitud",
    "message": error.description
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="httpStatus" value="500" doc:name="Establecer Estado HTTP 500"/>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="recuperar-y-enviar-documento" doc:id="71b92ed6-5d4b-4be6-9d9c-44426bc85309">
    
    <os:retrieve key="#[vars.documentId]" 
                 doc:name="Recuperar PDF de Object Store" 
                 objectStore="PDF_Store"/>
    
    <ee:transform doc:name="Convertir PDF a Base64">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    documentoBase64: write(payload, "application/octet-stream") as String {base: "64"},
    documentId: vars.documentId
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>
    
    <http:request method="POST" 
                 config-ref="HTTP_Request_SF_Config" 
                 doc:name="Enviar documento a Salesforce" 
                 path="/documento">
        <http:headers><![CDATA[#[output application/java
---
{
    "Content-Type": "application/json",
    "Accept": "application/json"
}]]]></http:headers>
    </http:request>
    
    <error-handler>
        <on-error-propagate type="OS:KEY_NOT_FOUND">
            <ee:transform doc:name="Preparar Mensaje Error Documento No Encontrado">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "Documento no encontrado",
    "message": "El documento solicitado no existe en el Object Store"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <set-variable variableName="httpStatus" value="404" 
                         doc:name="Establecer Estado HTTP 404"/>
        </on-error-propagate>
    </error-handler>
</flow>
</mule>
