src/main/mule/papi-firma-digital.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="PDF_Store" doc:name="Object store" doc:id="0014d88a-eb84-4312-af18-8eed28705027" entryTtl="30" entryTtlUnit="DAYS" />
	<flow name="procesarFirmaFlow">
    <http:listener path="/firma" config-ref="HTTP_Listener_PAPI_config" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="535a75e4-e0cc-4c35-899e-91350ad81612" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output multipart/form-data
---
{
    parts: {
        "documento": payload.parts.documento,
        "email": payload.parts.email,
        "nombre": payload.parts.nombre,
        "apellido": payload.parts.apellido,
        "telefono": payload.parts.telefono,
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="8591d7b6-84d8-4a0f-a05d-c651d1dc7b50" config-ref="HTTP_Request_SI_config" path="/firma">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Accept" : "application/json",
	"Content-Type" : "multipart/form-data"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="d4dd2a84-15b5-4ebb-bcf3-7d6eac22b001" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    status: "SUCCESS",
    message: "Documento enviado a firma",
    data: {
        signature_id: payload.id,
        document_id: payload.documents[0].id,
        estado: payload.documents[0].status
    }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a7bf3769-e6ec-4670-8863-b1df9cd600b0" message='#["Respuesta SAPI: " ++ write(payload, "application/json")]'/>

</flow>
	<flow name="consultar-estado" doc:id="557b1982-f739-4e0d-b459-5cf506bfd173" >
		<http:listener doc:name="Listener" doc:id="1187b79a-84da-4ed5-b70b-b31b4565163b" config-ref="HTTP_Listener_PAPI_config" path="/estado/{signatureId}" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="7261a8bd-2723-43a5-a586-c90268927c54" config-ref="HTTP_Request_SI_config" path="/api/signatures/{signatureId}/status">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer ${signaturit.token}",
	"Accept" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"signatureId" : attributes.uriParams.signatureId
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="a9481f49-0be0-402c-9f66-33f98529a91f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="503681da-9284-4e8b-afd9-1bf882269733" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "timestamp": now(),
    "status": payload.status,
    "data": {
        "firma": {
            "id": payload.data.signature_id,
            "estado": payload.data.documento.estado,
            "documento": {
                "id": payload.data.documento.id,
                "estado": payload.data.documento.estado
            }
        },
        "metadata": {
            "consultadoEn": now()
        }
    }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4df47b06-0dff-4ba0-aaea-7ecc167b0074" message='#["Payload transformado: " ++ write(payload, "application/json", {"indent": false})]'/>
		<logger level="INFO" doc:name="Logger" doc:id="3b175348-569d-487a-82a6-ee1f60d573d3" message='#["Estado consultado para firma: " ++ (payload.data.firma.id default "")]'/>
	</flow>
	<flow name="obtener-documento-firmado">
    <http:listener config-ref="HTTP_Listener_PAPI_config" 
                   path="/documento/{signatureId}/{documentId}" 
                   allowedMethods="GET"/>

    <set-variable value="#[attributes.uriParams.documentId]" doc:name="documentId" doc:id="4123bf74-f62d-4f53-85a8-db125090813e" variableName="documentId"/>
		<set-variable value="#[attributes.uriParams.signatureId]" doc:name="signatureId" doc:id="0b1c7e7a-7fb7-494a-aafb-e4f6a43d571c" variableName="signatureId"/>
		<http:request method="GET" config-ref="HTTP_Request_SI_config" 
                 path="/documento/{signatureId}/{documentId}" sendCorrelationId="ALWAYS">
        <http:uri-params><![CDATA[#[{
	"documentId": attributes.uriParams.documentId,
	"signatureId": attributes.uriParams.signatureId
}]]]></http:uri-params>
    </http:request>

    <choice doc:name="Choice">
        <when expression="#[vars.signatureId != null and vars.documentId != null]">
            <os:store doc:name="Store" key="#[payload]" objectStore="PDF_Store">
            </os:store>
            <logger level="INFO" message='#["Documento recibido de SAPI y almacenado en Object Store - SignatureID: " ++ vars.signatureId as String ++ ", DocumentID: " ++ vars.documentId as String]' />
        </when>
        <otherwise>
            <logger level="ERROR" message='#["Error: signatureId o documentId son nulos. No se puede almacenar el documento."]' />
            <ee:transform doc:name="Transform Message">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        "error": "Parámetros de URL faltantes",
                        "message": "Los parámetros signatureId y documentId son obligatorios."
                    }]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <set-variable variableName="httpStatus" value="400" doc:name="Set Status 400"/>
        </otherwise>
    </choice>

    <ee:transform doc:name="Transform Message" >
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
            output application/json
            ---
            {
                "message": "Documento PDF almacenado correctamente",
                "signatureId": vars.signatureId,
                "documentId": vars.documentId
            }]]></ee:set-payload>
        </ee:message>
    </ee:transform>

    <error-handler>
        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="ANY">
            <logger level="ERROR" doc:name="Logger" doc:id="719ebf3c-2e58-4c1a-a306-27c5b392faa9" message='#["Error en el flujo obtener-documento-firmado: " ++ error.description]' />
            <ee:transform doc:name="Transform Message">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        "error": "Error al procesar la solicitud",
                        "message": error.description
                    }]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <set-variable variableName="httpStatus" value="500" doc:name="Set Status 500"/>
        </on-error-propagate>
    </error-handler>
</flow>
</mule>
